<div class="container">
  <%# Header %>
  <%= render "shared/nav" %>  
  <%# Body %>
  <div class="body">
    <h1>Gardening by ZIP Code<h1>
    <h2>Advice for where your garden is!</h2>
    <ul>
      <li>Create your account with your email and ZIP Code</li>
      <li>Get smart tips based on your garden's location and preferences</li>
      <li>Soon: Add plants and detailed site information
    </ul>

  <h4>One day, Gardening by ZIP Code will help you do things like</h4>

  <ul>
    <li>Realize your garden's true potential while protecting it from disaster</li> 
    <li>Restore and conserve native ecosystems</li>
    <li>Make your home a more wonderful place</li>
  </ul>

  </div> 
  <%# Footer %>
  <div class="footer flex">
      <p>Brought to you by Blue Drumlin, LLC</p>
  </div> 
</div>  
