<h1>Gardens</h1>

<div id="gardens">
  <% @gardens.each do |g| %>
    <h4>Garden: <%= link_to g.name, user_garden_path(@user, g)%> - 
      <%= link_to 'Edit', edit_user_garden_path(@user, g) %></h4>
      <%= button_to "Delete garden", user_garden_path(@user, g), method: :delete, class:"button", 
          data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
<hr>

<%= link_to "New garden", new_user_garden_path %>
