<h1>Here's the garden</h1>

<%= render @garden %>

<div>
  <%= link_to "Edit this garden", edit_user_garden_path %>
  <%#= button_to "Destroy this garden", @garden, method: :delete %>
  <%= button_to "Delete garden", user_garden_path, method: :delete, class:"button", 
      data: {turbo_confirm: "Are you sure you want to delete #{@garden.name}?"} %>
</div>
<%= link_to "Back to gardens", user_gardens_path %>
