<h1>About GBZ</h1>

<p>Gardening by ZIP Code is an app in-progress to help you 
garden better based on where you live.</p> 

<p>Created by <a href="https://twitter.com/TyghWalters" target="blank">@TyghWalters</a> and is
is maintained by Blue Drumlin, LLC.</p>

