/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Meyer CSS Reset - URL: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  /* My Code: */ 
  background-color: lightgreen;
  margin: 0px;
  min-height: 100vh; 
}

 ol, ul {
	/* list-style: none; */
  margin: 1rem;
} 

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* System Fonts with system-ui */
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

/* My Code */

p,h1,h2,h3,h4,h5,h6 {
  color: #282623;
  line-height: 1.1rem;
}

p {
  display: block;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;  
}

h4 {
  display: block;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  font-weight: bold;
}

button {
  padding: 3px 10px;
  border-style: solid;
  border-radius: 8px;
  height: 40px;
  width: 100px;
  color: white;
  background-color: #3882F6;
  box-shadow: 2px 2px 5px #282623;
}

.body {
  margin: 1rem;
  padding: 1rem;
}

.container {
  display: grid;
  grid-template: 75px 1fr 150px / 1fr;
  height: 100vh;
}

.header {
  display: grid;
  background-color: white;
  grid-template-columns: .4fr .6fr
}

.login {
  justify-content: flex-end;
}

.logoandlinks {
  justify-content: space-around;
}

.login, .logoandlinks {
  align-items: center;
}

.flex {
  display: flex;
}

.footer {
  background-color: #fbcd4b;
}